html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f4e6d2;
  color: #23214c;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contents {
  height: 215vh;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.contact {
  align-items: center;
  text-align: center;
  padding: 30px;
}

.policy{
  height: 100vh;
  align-items: center;
  text-align: left;
  padding: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

.policy h2{
  padding: 10px;
}

.policy ul{
  padding-left: 50px;
}

.policy p{
  padding-left: 30px;
}

.term{
  height: 130vh;
  align-items: center;
  text-align: left;
  padding: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

.term h2{
  padding: 10px
}

.term ul{
  padding-left: 50px;
}

.term p{
  padding-left: 30px;
}

.header {
  text-align: center;
  padding: 10px;
}

.description {
  margin-left: 275px;
  margin-right: 275px;
  padding: 15px;
}

.btn {
  background-color: #8c6e63;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}