.hero {
    background-color: #f4e6d2;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #23214c;
    text-align: center;
    padding: 0 2rem;
}

.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
}

.centered-logo {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-buttons .btn {
    background-color: #8c6e63;
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-buttons .btn:hover {
    background-color: #0056b3;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.25rem;
    }

    .hero-content {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero-buttons .btn {
        padding: 0.5rem 1rem;
    }

    .hero-content {
        max-width: 100%;
        padding: 0 1rem;
    }
}