:root {
  /* Logo-based Palette */
  --primary-color: #23214c;   /* Dark Indigo (Text, Buttons, Logo Lines) */
  --primary-hover: #342f9b;   /* Brighter Blue for hover states */
  --secondary-color: #dae4ff; /* Light Lavender (Navbar, Footer, Accents) */
  --background-color: #f0f4ff; /* Very pale blue for main background */
  --text-color: #23214c;
  --white: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}